.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: none;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
}
#content {
    margin: 0 auto;
    display: block;
    max-width: 600px;
    color: #00587A;
    margin: 0 auto;
    overflow-y: scroll;
    margin-top: 40px;
}

h1 {
    background-color: white;
    font-size: 22px !important;
    padding: 15px 10px;
    text-align: center;
}

#content li {
    list-style: none;
    background-color: white;
    display: block;
    padding: 10px;
    margin: 15px inherit;
    border: 2px solid #eee;
}

#content li .command {
    float: right;
    font-family: monospace;
}