.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: none;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
}

#content {
    position: absolute;
    display: block;
    top: 0;
    right: 50vw;
    width: 600px;
    color: #00587A;
    margin-right: -300px;
    margin-top: 40px;
    overflow-y: scroll;
    z-index: 999999;
}

#content h1, #content li {
    border-radius: 5px;
}

#content h1 {
    background-color: white;
    font-size: 22px !important;
    padding: 15px 10px;
    text-align: center;
    position: relative;
}

h1 img {
    max-height: 20px;
    float: right;
    margin-right: .5em;
}

#content li {
    list-style: none;
    background-color: white;
    display: block;
    padding: 10px;
    margin: 15px inherit;
    border: 2px solid #eee;
    font-weight: bolder;
}

#content li .command {
    float: right;
    font-family: monospace;
    font-weight: normal;
}

